*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Raleway', sans-serif;
}

.hero{

    background-image: linear-gradient(120deg, hwb(44 3% 55% / 0.213) 0%, rgba(244, 143, 143, 0.489) 100%), url("../img/buenaventura.png");
    width: 100%;
    height: 650px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;

}
.textos-hero{
    height: 450px;
    color:rgb(26, 22, 155);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textos-hero h1{
    font-size: 60px;
}

.textos-hero p{
    font-size: 25px; 
    margin-bottom: 20px;
}

.textos-hero a{

    display: inline-block;
    text-decoration: none;
    padding: 12px 15px;
    background-color: rgb(109, 90, 8);
    border-radius: 8px;
    color: white;
}

.ilustracion-hero{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}


.contenedor, .wave-contenedor{
    width: 90%;
    max-width: 1000px;
    overflow: hidden;
    margin: auto;
    padding: 0 0 80px 0;
}

.contenedor{
    padding: 80px 0;
}
.titulo{
    font-weight: 300px;
    font-size: 35px;
    text-align: center;
    margin-bottom: 30px;
}


.website{
    display: flex;
    justify-content: space-between;

}
.website img{
    width: 35%;
}

.website .contenedor-textos-main{
    width: 40%;
}
.parrafo{
    text-align: justify;
    margin-bottom: 20px;
}
.cta{
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(120deg, #735e246f 0%, #ec9393cd 99%, #f48f8ff5 100%);
    padding: 12px 15px;
    border-radius: 8px;
    color: white;
}


.informacion{
    background: #099476ca;
    color: azure;
}

.informacion p{
    text-align: center;
}

.content-cards{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.card{
    width: 30%;
    text-align: center;
    height: 450px;
    box-shadow: 0 0 3px 0 rgb(0, 0, 0, .5);
    transform: scale(1);
    transition: transform 0.6s;
}

.card:hover{
    box-shadow: 0 0 6px 0 rgb(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}
.card i{
    margin: 30px 0 20px 0;
    color: aquamarine;
    font-size: 50px;
}

.card h3{
    font-size: 25px;
}

.card p{
    font-weight: 300;
    font-size: 22px;
    margin: 10px;
}

.galeria{
    background-color: #f2f1f1;
}
.galeria-cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.galeria-cont img{
   width: 30%;  
   object-fit: cover;
   margin-bottom: 20px;
   display: block;
   box-shadow: 0px 0px 3px 0px rgb(0, 0, 0, .5);
   cursor: pointer;
   overflow: hidden;
}


.info-final{
   display: flex;
   flex-wrap: wrap ; 
   justify-content: space-between;
   padding-bottom: 40px;
}
.last-section a{
    margin-top: 20px;
}
.last-section img{
    width: 48%;
}
.last-section .contenedor-textos-main{
    width: 40%;
}

footer{
    background-color: #066363;
    color: #ffffff;
}
.form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.input{
    background: transparent;
    border: 0;
    color: #ffffff;
    outline: none;
    border: 1px solid #ffffff;
    padding: 20px 10px ;
}
input::placeholder{
    color: #ffffff;
    font-family: "raleway", sans-serif;
}
input[type="text"],
input[type="email"]{
    display: inline-block;
    width: 49%;
    margin-bottom: 30px;
}

.form textarea{
    width: 100%;
    margin-bottom: 15px;
}
input[type="submit"]{
    width: 120px;
    text-align: center;
    padding: 14px 0;
}

input[type="submit"]:hover{
    cursor: pointer;
    color: tomato;
    background: #ffffff;

}

footer h3{
    font-size: 20px;
    text-align: center;
}

footer p{
    font-size: 15px;
    text-align: center;
    margin: 5px;
}

@media screen and (max-width:800px){
    .textos-hero h1{
        text-align: center;
        font-size: 50px;
    }

    .titulo{
        font-size: 35px;
    }


    .titulo .letf{
        text-align: center;
    }

    .informacion p{
        text-align: center;
    }


    .website{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .website img{
        width: 100%;
    }

    .website .contenedor-textos-main{
        width: 100%;
    }

    .card{
     width: 90%;
     margin-bottom: 20px;  
    }

    .galeria-cont img{
        width: 48%;
    }

    .last-section img{
        width: 98%;
    }

    .last-section .contenedor-textos-main{
        width: 98%;
        margin-bottom: 20px;
    }
    

}






